.card{
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border: 3px solid white;
    justify-items: center;
  }
  /* Overflow:Hidden; and 2D Positioning borrwed from medium.com/@kimdodeashian */
  .img-container {
    position: relative;
    width: 200px;     
    height: 200px;
    overflow: hidden;
 }
 img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;     
    left: 50%;
    transform: translate( -50%, -50%);
}
 img.landscape {
   height: 100%;
   width: auto;
}